php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on

AddHandler application/x-httpd-php .php .htm .html

RemoveHandler .html .htm
AddType application/x-httpd-php .html .htm .php
